---
name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get Mise
        uses: jdx/mise-action@v3
        with:
          install: true
          experimental: true
      - name: Initialise Packer
        working-directory: test
        run: mise exec -- packer init .
